{% extends 'base.html.twig' %}

{% block body %}
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#" aria-controls="home" role="tab" data-toggle="tab">Market</a></li>
        <li role="presentation"><a href="mining" aria-controls="profile" role="tab" data-toggle="tab">Mining</a></li>
    </ul>
    <div class="tab-content">
        {% set i = 1 %}
        <div role="tabpanel" class="tab-pane active" id="market">
            <div>
                <table class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th class="price">Price USD ($)</th>
                        <th class="hidden-xs">Market cap</th>
                        <!--<th>Price BTC</th>
                        <th>Circulating supply</th>
                        <th>Volume 24h</th>-->
                        <th>Change 24h</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for crypto in cryptos %}
                        <tr class="{% if loop.index is divisibleby(2) %}active{% endif %}">
                            <th scope="row">{{ i }}</th>
                            <td>
                                <img src="https://files.coinmarketcap.com/static/img/coins/16x16/{{ crypto["id"] }}.png" /> {{ crypto["name"] }}
                            </td>
                            <td>
                                <span class="devise">$ </span>
                                {{ crypto["price_usd"]|slice(0, 9) }}
                            </td>
                            <td class="hidden-xs">
                                <span class="devise">$ </span> {{ (crypto["market_cap_usd"])|number_format(0, '.', ',') }}
                            </td>
                            <td>
                                <span class="{% if crypto["percent_change_24h"] >= 0 %}green{% else %}red{% endif %}">{{ crypto["percent_change_24h"] }}</span>
                            </td>
                        </tr>
                        {% set i = i+1 %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}